.navbar-default{
    background-color: #000033;
    
}

.navbar-default .navbar-nav>li>a{
    font-size:16px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #e6e6e6;
}

.navbar-default .navbar-brand{
    color: #e6e6e6;
    font-size:21px;
    font-family: "Rock Salt";
    
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d6d6c2;
}

.page-title{
    color: #000033;
}

.frontPage-title{
    color: #000033;
    margin-bottom:55px  
}

.jumbotron {
    background-color:transparent;
    color:#000033;
}

a{
    color:#000033
}

.intro .introText{
    padding-top: 25px;
    color:#000033 
}

.portfolio-title{
    color:#000033;
    font-weight: bold;
}

.portfolio-description{
    font-size: 18px;
    color: #000033;
}

body{
    padding-top: 50px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url("../assets/seamless_paper_texture.png")
}