.navbar-default{
    background-color: #000033;
    
}

.navbar-default .navbar-nav>li>a{
    font-size:16px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #e6e6e6;
}

.navbar-default .navbar-brand{
    color: #e6e6e6;
    font-size:21px;
    font-family: "Rock Salt";
    
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d6d6c2;
}

.page-title{
    color: #000033;
}

.Page-title{
    color: #000033;
    margin-bottom:45px;

}

.portfolio-thumbnail{
    background-color: transparent;
    
}

.portfolio-thumbnail{
    margin-top: 10px;
    margin-bottom: -10px;
}

.portfolio-thumbnail:hover{
    opacity: 0.6;

}

a{
    color:#000033
}

.intro .introText{
    padding-top: 15px;
    color:#000033 
}

.portfolio-title{
    color:#000033;
    font-weight: bold;
}

.portfolio-description{
    font-size: 18px;
    color: #000033;
}

.resumeHeader{
    padding-top: 10px;
    color: #000099;
}

body{
    color: #000033;
    padding-top: 50px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url("../assets/seamless_paper_texture.png")
}

h3,
h4,
h5{
    color:#000033;
    text-align: center;
    margin-bottom: 20px;
}

.btn-outline{
    color: #000033;
    font-size: 18px;
    border: solid 2px #000033;
    border-radius: 4px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 25px;
    margin-bottom: 20px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background: #000033;
  border: solid 2px #000033;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid#000033;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

  footer {
    color: white;
  }
  footer h3 {
    margin-bottom: 30px;
    text-align: center;
  }
  footer .footer-above {
    padding-top: 20px;
  }
  footer .footer-col {
    margin-bottom: 50px;
  }
  footer .footer-below {
    padding: 15px 0;
    
  }
  footer .btn-outline {
   
    font-size: 20px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 0px;
  }